@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";

}

@model List<string> 

<h1>Trợ giúp</h1>

<ul>
    @foreach (var topic in Model)
    {
        <li>
            <a asp-action="HelpTopic" asp-route-topic="@topic">@topic</a>
        </li>
    }
</ul>
