@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/admin.cshtml";

}

@model Point_of_Sale_website.Models.Product

<div class="container mt-5">
    <h2>Thêm Sách Mới</h2>
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Title">Tiêu đề</label>
            <input asp-for="Title" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Author">Tác giả</label>
            <input asp-for="Author" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Description">Mô tả</label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Price">Giá</label>
            <input asp-for="Price" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="CategoryId">Danh mục</label>
            <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control"></select>
        </div>
        <button type="submit" class="btn btn-primary">Thêm Sách</button>
    </form>
</div>
