@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/admin.cshtml";
}

@model DashboardViewModel

<div class="container mt-5">
    <h2 class="mb-4">Dashboard</h2>

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Total Customers</h4>
                    <p class="card-text">@Model.TotalCustomers</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Total Products</h4>
                    <p class="card-text">@Model.TotalProducts</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Total Orders</h4>
                    <p class="card-text">@Model.TotalOrders</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Total Sales Amount</h4>
                    <p class="card-text">@Model.TotalSalesAmount</p>
                </div>
            </div>
        </div>
    </div>
</div>
